<section class="hero is-primary is-medium">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Explore it! You will love it
            </h1>
            <ul>
                <li>
                    <h3>Invest from as little as £1</h3>
                    <p>Have a diverse portfolio no matter your budget.</p>
                </li>
                <li>
                    <h3>Maintain liquidity</h3>
                    <p>You are free to trade and release your capital whenever - you do not have to wait for follow on rounds or an IPO.</p>
                </li>
                <li>
                    <h3>On-going investor relationship</h3>
                    <p>Through our managed investor - start-up portal you can work with your investments to make sure they are a success!</p>
                </li>
                <li>
                    <h3>Full service</h3>
                    <p>Documentation, SEIS, EIS, Investor protection, payments. We handle the paperwork so that you don;t have to worry!</p>
                </li>
                <li>
                    <h3>Multi-currency</h3>
                    <p>You can easily raise, deposit and invest using the currency of your choice.</p>
                </li>
            </ul>
        </div>
    </div>
</section>
