<section class="hero is-primary is-medium">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Bullet Content Module
            </h1>
            <h2 class="subtitle">
                {{ content }}
            </h2>
        </div>
    </div>
</section>
