<section class="hero is-warning is-medium">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Current startups!
            </h1>
            <h2 class="subtitle">
                See what is funded
            </h2>
            <p>
                “£1000 has just been invested in startup X”
            </p>
            <a class="button">
                Start Now
            </a>
        </div>
    </div>
</section>

