<section class="hero is-warning is-medium">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Featured Items Module
            </h1>
            <h2 class="subtitle">
                {{ content }}
            </h2>
        </div>
    </div>
</section>

