<section class="hero is-danger is-large">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Large title
            </h1>
            <h2 class="subtitle">
                {{ content }}
            </h2>
        </div>
    </div>
</section>
