<section class="hero is-danger is-large">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Invest In Business
            </h1>
            <h2 class="subtitle">
                <p>
                    From the next big thing, to the thing next door, invest in business that matters to you.
                </p>
                <br/>
                <p>
                    Crowd-up is a one of a kind platform for investors. We allow you to build a diverse portfolio no matter your budget. What makes us truly unique though, is that your investments with us do not tie you in for the long term; you have the freedom to sell when you want.
                </p>
            </h2>
            <div class="field is-grouped">
                <p class="control">
                    <a class="button is-link">
                        How to Invest
                    </a>
                </p>
                <p class="control">
                    <a class="button">
                        How to Raise
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>
