<section class="hero is-link is-medium">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Welcome!
            </h1>
            <h2 class="subtitle">
                {{ content }}
            </h2>
            <p>
                Here at crowd-up we think you should be able to have both. We allow you to invest in the best start-ups and provide you with a marketplace to trade your investments if you want to release capital. No need for a fixed portfolio. You will always be ready to invest in the next big thing.
            </p>
            <a class="button">
                Start Now
            </a>
        </div>
    </div>
</section>
