<footer class="footer">
    <div class="container columns">
        <div class="column is-6">

        </div>
        <div class="column is-3">
            <h2>Social</h2>
            <ul>
                <li>Twitter</li>
                <li>Facebook</li>
                <li>Linkedin</li>
                <li>Instagram</li>
            </ul>
        </div>
        <div class="column is-3">
            <h2>Social</h2>
            <ul>
                <li>support@crowd-up.com</li>
                <li>phone: 020 3453 34 56</li>
                <li>30 St Mary Axe
                    London EC3A 8EP
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="content has-text-centered">
            <p>
                © 2017 Crowd-Up. All rights reserved.
            </p>
        </div>
    </div>
</footer>
