<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>Crowd Up</strong> by <a href="https://github.com/austinrivas">Austin Rivas</a>.
            </p>
            <p class="is-size-7">
                Demo footer for Crowd Up
            </p>
        </div>
    </div>
</footer>
